<html>
    <head>
        <title>App</title>
    </head>
    <body>
        <div class="row">
            <div class="large-6 medium-6 small-12 column">ds</div>
            <div class="large-6 medium-6 small-12 column">asdf</div>
        </div>
        <script src="/js/app.js"></script>
    </body>
</html>